<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col lg="12">
        <inventoryDetail-form title="Tambah Stok Baru" @submit="postForm" />
      </b-col>
    </b-row>
  </div>

</template>

<script>
import oAxios from '@/connectors/APIConnector'
import InventoryDetailForm from './Form'

export default {
  name: 'inventoryDetail-add',
  components: {
    InventoryDetailForm,
  },
  methods: {
    postForm (data) {
      this.$store.dispatch('app/showLoading')

      var v = this
      oAxios.post('/Inventory/UpdateInventory', data)
        .then(response => {
          if (response.data.success) {
            v.$store.dispatch('app/setMessageSuccess', response.data.message.success)
            v.$router.push('/inventoryDetail/' + this.$route.params.itemId)
          } else {
            v.$store.dispatch('app/setMessageError', response.data.message.error)
          }

          v.$store.dispatch('app/hideLoading')
        })
        .catch(error => {
          v.dispatch('app/setMessageError', error.response.data.error_description)
        })
    }
  }
}
</script>
