<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="4">
        <b-card header="Jenis Kelamin">
          <div class="chart-wrapper">
            <pie-chart chartId="chart-pie-01" :labels="pie1.labels" :pieColors="color" :data="pie1.data"/>
          </div>
        </b-card>
      </b-col>
      <b-col sm="4">
        <b-card header="Golongan Darah">
          <div class="chart-wrapper">
            <pie-chart chartId="chart-pie-01" :labels="pie2.labels" :pieColors="color" :data="pie2.data"/>
          </div>
        </b-card>
      </b-col>
      <b-col sm="4">
        <b-card header="Usia">
          <div class="chart-wrapper">
            <pie-chart chartId="chart-pie-01" :labels="pie3.labels" :pieColors="color" :data="pie3.data"/>
          </div>
        </b-card>
      </b-col>
    </b-row>
    <b-card>
      <b-row>
        <b-col sm="5">
          <h4 id="traffic" class="card-title mb-0">Minat Jemaat</h4>
          <div class="small text-muted">Agustus 2018</div>
        </b-col>
        <b-col sm="7" class="d-none d-md-block">
          <b-button-toolbar class="float-right" aria-label="Toolbar with buttons group">
            <b-form-radio-group class="mr-3" id="radiosBtn" buttons button-variant="outline-secondary" name="radiosBtn">
              <b-form-radio class="mx-0" value="Day">Day</b-form-radio>
              <b-form-radio class="mx-0" value="Month">Month</b-form-radio>
              <b-form-radio class="mx-0" value="Year">Year</b-form-radio>
            </b-form-radio-group>
          </b-button-toolbar>
        </b-col>
      </b-row>
      <main-chart chartId="main-chart-01" class="chart-wrapper" style="height:300px;margin-top:40px;" :height="300" :labels="pie4.labels" :data="pie4.data"></main-chart>
    </b-card>
  </div>
</template>

<script>
import oAxios from '@/connectors/APIConnector'
import MainChart from './dashboard/MainChart'
import PieChart from './dashboard/PieChart'

export default {
  name: 'dashboard',
  components: {
    MainChart,
    PieChart,
  },
  data: function () {
    return {
      color: ['#B24C63', '#5438DC', '#4C191B', '#963D5A', '#C589E8', '#E3DAFF', '#ECFFF8', '#FCDEBE', '#D4D2A5', '#928779', '#5E5768'],
      age: [],
      gender: [],
      bloodtype: [],
      attendance: [],
    }
  },
  computed: {
    pie1 () {
      var labels = this.gender.map(item => { return item.Gender });
      var data = this.gender.map(item => { return item.Total });
      
      return { labels, data }
    },
    pie2 () {
      var labels = this.bloodtype.map(item => { return item.BloodType });
      var data = this.bloodtype.map(item => { return item.Total });
      
      return { labels, data }
    },
    pie3 () {
      var labels = this.age.map(item => { return item.AgeRange });
      var data = this.age.map(item => { return item.Total });
      
      return { labels, data }
    },
    pie4 () {
      var labels = this.attendance.map(item => { return item.Name });
      var data = this.attendance.map(item => { return parseInt(item.TotalAttendance) });

      return { labels, data }
    }
  },
  created () {
    this.$store.dispatch('app/showLoading')
    let idTenant = this.$store.state.auth.user.tenantId

    var v = this
    oAxios.get('/Report/ReportDashboard', { params: { TenantId: idTenant } })
      .then(response => {
        if (response.data.success) {
          v.age = response.data.data.Age
          v.gender = response.data.data.Gender
          v.bloodtype = response.data.data.BloodType
          v.attendance = response.data.data.Attendance
        } else {
          v.$store.dispatch('app/setMessageError', response.data.message.error)
        }

        v.$store.dispatch('app/hideLoading')
      })
      .catch(error => {
        v.$store.dispatch('app/setMessageError', error.response.data.error_description)
      })
  }
}
</script>

<style>
  /* IE fix */
  #card-chart-01, #card-chart-02 {
    width: 100% !important;
  }
</style>
