<template>
  <div class="animated fadeIn">

    <b-row>
      <b-col lg="12">
        <c-table striped caption="Data Inventaris Detail" :fields="fields" :items="items" target="InventoryDetail"></c-table>
      </b-col><!--/.col-->
    </b-row><!--/.row-->

  </div>

</template>

<script>
import oAxios from '@/connectors/APIConnector'
import cTable from './base/Table.vue'

export default {
  name: 'inventoryDetail',
  components: {cTable},
  data () {
    return {
      fields: [
        { key: 'Name', label: 'Barang' },
        { key: 'Total', label: 'Stok' },
        { key: 'Action', label: 'Aksi' },
      ],
      items: []
    }
  },
  created () {
    this.$store.dispatch('app/showLoading')
    let itemId = this.$route.params.itemId
    let idTenant = this.$store.state.auth.user.tenantId

    var v = this
    oAxios.get('/Inventory/GetInventory', { params: { TenantId: idTenant, ItemId: itemId } })
      .then(response => {
        if (response.data.success) {
          v.items = response.data.data
        } else {
          v.$store.dispatch('app/setMessageError', response.data.message.error)
        }

        v.$store.dispatch('app/hideLoading')
      })
      .catch(error => {
        v.dispatch('app/setMessageError', error.response.data.error_description)
      })
  }
}
</script>
