<template>
  <div>

  </div>

</template>

<script>
import oAxios from '@/connectors/APIConnector'

export default {
  name: 'event-delete',
  created () {
    this.$store.dispatch('app/showLoading')
    let id = this.$route.params.id
    let idTenant = this.$store.state.auth.user.tenantId
    let idUser = this.$store.state.auth.user.userId

    var v = this
    oAxios.post('/Event/DeleteEvent', { Id: id, TenantId: idTenant, UserId: idUser } )
      .then(response => {
        if (response.data.success) {
          v.items = response.data.data
        } else {
          v.$store.dispatch('app/setMessageError', response.data.message.error)
        }

        v.$store.dispatch('app/hideLoading')
        v.$router.push('/event')
      })
      .catch(error => {
        v.dispatch('app/setMessageError', error.response.data.error_description)
      })
  }
}
</script>
