<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col lg="12">
        <event-form title="Tambah Acara Baru 2" :data="data" @submit="postForm" />
      </b-col>
    </b-row>
  </div>

</template>

<script>
import oAxios from '@/connectors/APIConnector'
import EventForm from './Form'

function ParseDate (dateStr) {
  if (dateStr == "" || dateStr == null) return null
  
  let utcDate = Date.parse(dateStr)
  let newDate = new Date(utcDate)

  let year = newDate.getFullYear()
  let month = newDate.getMonth() + 1
  if (month < 10) month = "0" + month.toString()
  let date = newDate.getDate()
  if (date < 10) date = "0" + date.toString()

  return year + '-' + month + '-' + date
}

export default {
  name: 'event-edit',
  components: {
    EventForm,
  },
  data () {
    return {
      data: {
        Id: 0,
        TenantId: 0,
        UserId: 0,
        LedgerId: 0,
        Name: null,
        Description: null,
        StartEvent: null,
        EndEvent: null,
        Location: null,
        Speaker: null,
        Topic: null,
        TotalAttendants: null,
        Evaluation: null,
      }
    }
  },
  methods: {
    postForm (data) {
      this.$store.dispatch('app/showLoading')

      var v = this
      oAxios.post('/Event/UpdateEvent', data)
        .then(response => {
          if (response.data.success) {
            v.$store.dispatch('app/setMessageSuccess', response.data.message.success)
            v.$router.push('/event')
          } else {
            v.$store.dispatch('app/setMessageError', response.data.message.error)
          }

          v.$store.dispatch('app/hideLoading')
        })
        .catch(error => {
          v.dispatch('app/setMessageError', error.response.data.error_description)
        })
    }
  },
  created () {
    this.$store.dispatch('app/showLoading')
    let id = this.$route.params.id
    let idTenant = this.$store.state.auth.user.tenantId

    var v = this
    oAxios.get('/Event/GetEvents', { params: { TenantId: idTenant, Id: id } })
      .then(response => {
        if (response.data.success) {
          v.data = response.data.data[0]
          // prepare data
          v.data.TenantId = this.$store.state.auth.user.tenantId
          v.data.UserId = this.$store.state.auth.user.userId
          v.data.StartEvent = ParseDate(v.data.StartEvent)
          v.data.EndEvent = ParseDate(v.data.EndEvent)
        } else {
          v.$store.dispatch('app/setMessageError', response.data.message.error)
        }

        v.$store.dispatch('app/hideLoading')
      })
      .catch(error => {
        v.dispatch('app/setMessageError', error.response.data.error_description)
      })
  }
}
</script>
