<template>
  <b-form @submit.prevent="$emit('submit', data)">
    <b-card :header="title">
      <b-form-group
        description="Nama acara yang diselenggarakan, misal ...."
        label="Nama"
        label-for="Name"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.Name" id="Name" type="text" :readonly="loading" required></b-form-input>
      </b-form-group>
      <b-form-group
        description="Keterangan lebih lanjut dari acara yang diselenggarakan, seperti ..."
        label="Deskripsi"
        label-for="Description"
        :label-cols="3"
        :horizontal="true">
        <b-form-textarea v-model="data.Description" id="Description" :readonly="loading" :rows="3" :max-rows="6"></b-form-textarea>
      </b-form-group>
      <b-row class="form-row mb-3">
        <b-col md="3">
          <label class="col-form-label" for="inputIsValid">Tanggal</label>
        </b-col>
        <b-col md="4">
          <b-form-input v-model="data.StartEvent" type="date" :readonly="loading"></b-form-input>
          <small class="text-muted">
            Tanggal dimulainya acara.
          </small>
        </b-col>
        <b-col md="4" offset-md="1">
          <b-form-input v-model="data.EndEvent" type="date" :readonly="loading"></b-form-input>
          <small class="text-muted">
            Tanggal berakhirnya acara.
          </small>
        </b-col>
      </b-row>
      <b-form-group
        description="Lokasi penyelenggaraan acara, misal ...."
        label="Lokasi"
        label-for="Location"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.Location" id="Location" type="text" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        description="Pembicara pada acara, misal ...."
        label="Pembicara"
        label-for="Speaker"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.Speaker" id="Speaker" type="text" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        description="Topik acara, misal ...."
        label="Topik"
        label-for="Topic"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.Topic" id="Topic" type="text" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        description="Total peserta acara"
        label="Peserta"
        label-for="TotalAttendants"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.TotalAttendants" id="TotalAttendants" type="number" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        description="Evaluasi lanjutan dari acara yang sudah berjalan, seperti ..."
        label="Evaluasi"
        label-for="Evaluation"
        :label-cols="3"
        :horizontal="true">
        <b-form-textarea v-model="data.Evaluation" id="Evaluation" :rows="3" :max-rows="6" :readonly="loading"></b-form-textarea>
      </b-form-group>
      <div slot="footer">
        <b-button type="submit" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
        <b-button type="reset" variant="danger" class="ml-2"><i class="fa fa-ban"></i> Reset</b-button>
      </div>
    </b-card>
  </b-form>
</template>

<script>
export default {
  name: 'event-form',
  props: {
    title: {
      type: String,
      default: "Input Data"
    },
    data: {
      type: Object,
      default () {
        return {
          Id: 0,
          TenantId: 0,
          UserId: 0,
          LedgerId: 0,
          Name: null,
          Description: null,
          StartEvent: null,
          EndEvent: null,
          Location: null,
          Speaker: null,
          Topic: null,
          TotalAttendants: null,
          Evaluation: null,
        }
      }
    }
  },
  computed: {
    loading () {
      return this.$store.state.app.loading.status
    },
  },
  methods: {
    submit () {
      this.$emit('submit', this.data)
    }
  },
  created () {
    this.data.TenantId = this.$store.state.auth.user.tenantId
    this.data.UserId = this.$store.state.auth.user.userId
  }
}
</script>
