<template>
  <div class="animated fadeIn">

    <b-row>
      <b-col lg="12">
        <c-table striped caption="Data Keuangan" :fields="fields" :items="items" target="Ledger Event"></c-table>
      </b-col><!--/.col-->
    </b-row><!--/.row-->

  </div>

</template>

<script>
import oAxios from '@/connectors/APIConnector'
import cTable from '../base/Table.vue'

export default {
  name: 'event',
  components: {cTable},
  data () {
    return {
      fields: [
        { key: 'TotalCash', label: 'Nominal' },
      ],
      items: []
    }
  },
  created () {
    this.$store.dispatch('app/showLoading')
    let id = this.$route.params.id
    let idTenant = this.$store.state.auth.user.tenantId

    var v = this
    oAxios.get('/Ledger/GetLedgerTransactions', { params: { TenantId: idTenant, LedgerId: id } })
      .then(response => {
        if (response.data.success) {
          v.items = response.data.data
        } else {
          v.$store.dispatch('app/setMessageError', response.data.message.error)
        }

        v.$store.dispatch('app/hideLoading')
      })
      .catch(error => {
        v.dispatch('app/setMessageError', error.response.data.error_description)
      })
  }
}
</script>
