<template>
  <b-form @submit.prevent="$emit('submit', data)">
    <b-card :header="title">
      <b-form-group
        label="First name"
        label-for="firstName"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.FirstName" id="firstName" type="text" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Last name"
        label-for="lastName"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.LastName" id="lastName" type="text" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Jenis Kelamin"
        label-for="gender"
        :label-cols="3"
        :horizontal="true">
        <b-form-select v-model="data.GenderId" :options="genders" :readonly="loading" />
      </b-form-group>
      <b-form-group
        label="Tempat Lahir"
        label-for="birthPlace"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.BirthPlace" id="birthPlace" type="text" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Tanggal Lahir"
        label-for="birthDate"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.BirthDate" id="birthDate" type="date" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Golongan Darah"
        label-for="bloodType"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.BloodType" id="bloodType" type="text" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Alamat Email"
        label-for="emailAddress"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.EmailAddress" id="emailAddress" type="email" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        label="No Telp"
        label-for="phoneNumber"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.PhoneNumber" id="phoneNumber" type="text" :readonly="loading"></b-form-input>
      </b-form-group>
      <b-form-group
        label="Status Perkawinan"
        label-for="maritalStatus"
        :label-cols="3"
        :horizontal="true">
        <b-form-select v-model="data.MaritalStatusId" :options="maritalStatuses" :readonly="loading" />
      </b-form-group>
      <div slot="footer">
        <b-button type="submit" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
        <b-button type="reset" variant="danger" class="ml-2"><i class="fa fa-ban"></i> Reset</b-button>
      </div>
    </b-card>
  </b-form>
</template>

<script>
// import dataModel from './model'

export default {
  name: 'person-form',
  props: {
    title: {
      type: String,
      default: "Input Data"
    },
    data: {
      type: Object,
      default () {
        return {
          Id: 0,
          TenantId: 0,
          UserId: 0,
          FirstName: null,
          LastName: null,
          Gender: 1,
          BirthPlace: null,
          BirthDate: null,
          BloodType: null,
          EmailAddress: null,
          PhoneNumber: null,
          AddressId: 0,
          MaritalStatus: 1,
        }
      }
    }
  },
  computed: {
    loading () {
      return this.$store.state.app.loading.status
    },
    genders () {
      let genders = this.$store.state.app.params.genders
      let result = [
        { text: "Jenis Kelamin", value: null }
      ]
      var lala = genders.map(element => {
        return { text: element.Name, value: element.Id }
      })

      return result.concat(lala)
    },
    maritalStatuses () {
      let maritalStatuses = this.$store.state.app.params.maritalStatuses
      let result = [
        { text: "Status Pernikahan", value: null }
      ]
      var lala = maritalStatuses.map(element => {
        return { text: element.Name, value: element.Id }
      })

      return result.concat(lala)
    },
  },
  methods: {
    submit () {
      this.$emit('submit', this.data)
    }
  },
  created () {
    this.$store.dispatch('app/params/preparePersonUpdate')

    this.data.TenantId = this.$store.state.auth.user.tenantId
    this.data.UserId = this.$store.state.auth.user.userId
  },
}
</script>
