<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col lg="12">
        <ledger-form title="Tambah Keuangan" @submit="postForm" />
      </b-col>
    </b-row>
  </div>

</template>

<script>
import oAxios from '@/connectors/APIConnector'
import LedgerForm from './Form'

export default {
  name: 'ledger-add',
  components: {
    LedgerForm,
  },
  methods: {
    postForm (data) {
      this.$store.dispatch('app/showLoading')

      var v = this
      oAxios.post('/Ledger/InsertLedgerTransaction', data)
        .then(response => {
          if (response.data.success) {
            v.$store.dispatch('app/setMessageSuccess', response.data.message.success)
            v.$router.push({ name: 'Ledger Event', params: { id: data.LedgerId }})
          } else {
            v.$store.dispatch('app/setMessageError', response.data.message.error)
          }

          v.$store.dispatch('app/hideLoading')
        })
        .catch(error => {
          v.dispatch('app/setMessageError', error.response.data.error_description)
        })
    }
  }
}
</script>
