<template>
  <div class="animated fadeIn">

    <b-row>
      <b-col lg="12">
        <c-table striped caption="Tren Acara" :fields="fields" :items="items" :addable="false" :editable="false" :deleteable="false"></c-table>
      </b-col><!--/.col-->
    </b-row><!--/.row-->

  </div>

</template>

<script>
import oAxios from '@/connectors/APIConnector'
import cTable from '../base/Table.vue'

export default {
  name: 'event',
  components: {cTable},
  data () {
    return {
      fields: [
        { key: 'Name', label: 'Acara' },
        { key: 'Duration', label: 'Durasi' },
        { key: 'TotalAttendants', label: 'Total Peserta' },
        { key: 'MoneyIn', label: 'Dana Masuk' },
        { key: 'MoneyOut', label: 'Dana Keluar' },
        { key: 'Balance', label: 'Dana Terkumpul' },
      ],
      items: [
        { Name: "acara 1", Duration: "10 hari", TotalAttendants: 100, MoneyIn: 25000000, MoneyOut: 15000000, Balance: 10000000 },
        { Name: "acara 1", Duration: "10 hari", TotalAttendants: 100, MoneyIn: 25000000, MoneyOut: 15000000, Balance: 10000000 },
        { Name: "acara 1", Duration: "10 hari", TotalAttendants: 100, MoneyIn: 25000000, MoneyOut: 15000000, Balance: 10000000 },
        { Name: "acara 1", Duration: "10 hari", TotalAttendants: 100, MoneyIn: 25000000, MoneyOut: 15000000, Balance: 10000000 },
        { Name: "acara 1", Duration: "10 hari", TotalAttendants: 100, MoneyIn: 25000000, MoneyOut: 15000000, Balance: 10000000 },
        { Name: "acara 1", Duration: "10 hari", TotalAttendants: 100, MoneyIn: 25000000, MoneyOut: 15000000, Balance: 10000000 },
      ]
    }
  },
  created () {
    // this.$store.dispatch('app/showLoading')
    // let idTenant = this.$store.state.auth.user.tenantId

    // var v = this
    // oAxios.get('/Event/GetEvents', { params: { TenantId: idTenant } })
    //   .then(response => {
    //     if (response.data.success) {
    //       v.items = response.data.data
    //     } else {
    //       v.$store.dispatch('app/setMessageError', response.data.message.error)
    //     }

    //     v.$store.dispatch('app/hideLoading')
    //   })
    //   .catch(error => {
    //     v.dispatch('app/setMessageError', error.response.data.error_description)
    //   })
  }
}
</script>
