<template>
  <b-card>
    <div slot="header">
      <b>{{caption}}</b>
      <div class="card-header-actions" v-if="addable">
        <b-button :to="{ name: 'Add ' + target }" variant="success" size="sm"><i class="fa fa-plus-circle"></i> Tambah</b-button>
      </div>
    </div>
    <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
      <template slot="Action" slot-scope="data">
        <b-button v-if="ledger" :to="{ name: 'Ledger ' + target, params: { id: data.item.LedgerId } }" variant="primary" size="sm" class="mr-1"><i class="fa fa-book"></i> Keuangan</b-button>
        <b-button v-if="inventoryDetail" :to="{ name: 'InventoryDetail', params: { itemId: data.item.Id } }" variant="primary" size="sm" class="mr-1"><i class="fa fa-book"></i> Detil Inventaris</b-button>
        <b-button v-if="editable" :to="{ name: 'Edit ' + target, params: { id: data.item.Id } }" variant="primary" size="sm" class="mr-1"><i class="fa fa-pencil"></i> Edit</b-button>
        <b-button v-if="deleteable" :to="{ name: 'Delete ' + target, params: { id: data.item.Id }  }" variant="danger" size="sm"><i class="fa fa-trash"></i> Delete</b-button>
      </template>
    </b-table>
    <nav>
      <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
    </nav>
  </b-card>
</template>

<script>
export default {
  name: 'c-table',
  props: {
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    },
    fields: {
      type: Array,
      default: []
    },
    items: {
      type: Array,
      default: []
    },
    target: {
      type: String,
      default: ""
    },
    addable: {
      type: Boolean,
      default: true
    },
    editable: {
      type: Boolean,
      default: true
    },
    deleteable: {
      type: Boolean,
      default: true
    },
    ledger: {
      type: Boolean,
      default: false
    },
    inventoryDetail: {
      type: Boolean,
      default: false
    },
  },
  data: () => {
    return {
      currentPage: 1,
      perPage: 10,
      totalRows: 0
    }
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    deleteConfirmation (title) {
      return confirm('Anda yakin menghapus data: ' + title + '?')
    }
  }
}
</script>
