<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form @submit.prevent="postLogin">
                  <h1>Masuk</h1>
                  <p class="text-muted">Masuk ke akun anda!</p>
                  <b-progress height="2px" :value="progress" animated class="animated fadeIn mb-3" v-if="loading"></b-progress>
                  <b-alert :show="error.status" :variant="error.type" class="animated fadeIn fadeOut">{{error.message}}</b-alert>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input v-model="data.EmailAddress" type="text" class="form-control" placeholder="Email" autocomplete="username email" :readonly="loading" required />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input v-model="data.Password" type="password" class="form-control" placeholder="Password" autocomplete="current-password" :readonly="loading" required />
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button type="submit" variant="primary" class="px-4">Login</b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <b-button variant="link" class="px-0">Forgot password?</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
            <b-card no-body class="text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <b-card-body class="text-center">
                <div>
                  <h2>Daftar</h2>
                  <p>Bergabung dengan kami, dan gunakan aplikasi!.</p>
                  <b-button variant="primary" class="active mt-3" to="Register">Register Now!</b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      data: {
        EmailAddress: null,
        Password: null
      }
    }
  },
  methods: {
    postLogin () {
      this.$store.dispatch('app/showLoading')

      var v = this
      this.$store.dispatch('auth/login', this.data)
        .then(result => {
          if (v.error.status) {
            v.$store.dispatch('app/hideLoading')
            v.$router.push('Dashboard')
          }
        })
    }
  },
  computed: {
    error () {
      return this.$store.state.app.error
    },
    loading () {
      return this.$store.state.app.loading.status
    },
    progress () {
      return this.$store.state.app.loading.progress
    },
  }
}
</script>
