<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col lg="8">
          <b-card no-body class="mx-4">
            <b-card-body class="p-4">
              <b-form @submit.prevent="postRegister" autocomplete="off">
                <h1>Daftar</h1>
                <p class="text-muted">Bergabung dengan kami!</p>

                <b-progress height="2px" :value="progress" animated class="animated fadeIn mb-3" v-if="loading"></b-progress>
                <b-alert :show="error.status" :variant="error.type" class="animated fadeIn fadeOut">{{error.message}}</b-alert>

                <p class="text-muted mb-1">Data Komunitas:</p>
                <hr class="mt-0"/>

                <b-row>
                  <b-col sm="8">
                    <b-input-group class="mb-3">
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-group"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input v-model="data.TenantName" type="text" class="form-control" placeholder="Nama Komunitas" autocomplete="tenant" :readonly="loading" required />
                    </b-input-group>
                  </b-col>
                  <b-col sm="4">
                    <b-form-group>
                      <b-form-select v-model="data.TenantTypeId" :options="tenantTypes" value="Jenis" :readonly="loading" required />
                    </b-form-group>
                  </b-col>
                </b-row>

                <p class="text-muted mb-1">Data Akun:</p>
                <hr class="mt-0"/>

                <b-row>
                  <b-col sm="6">
                    <b-input-group class="mb-3">
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-user"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input v-model="data.FirstName" type="text" class="form-control" placeholder="Nama Depan" :readonly="loading" required />
                    </b-input-group>
                  </b-col>
                  <b-col sm="6">
                    <b-form-group>
                      <b-form-input v-model="data.LastName" type="text" class="form-control" placeholder="Nama Belakang" :readonly="loading" required />
                    </b-form-group>
                  </b-col>
                </b-row>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="fa fa-at"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input v-model="data.EmailAddress" type="text" class="form-control" placeholder="Email" :readonly="loading" required />
                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="fa fa-asterisk"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input v-model="data.Password" type="password" class="form-control" placeholder="Password" :readonly="loading" required />
                </b-input-group>

                <b-input-group class="mb-4">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="fa fa-asterisk"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input v-model="data.ConfirmPassword" type="password" class="form-control" placeholder="Ulang password" :readonly="loading" required/>
                </b-input-group>

                <b-button type="submit" variant="success" block>Buat Akun</b-button>
              </b-form>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data () {
    return {
      data: {
        TenantName: null,
        TenantTypeId: null,
        FirstName: null,
        LastName: null,
        EmailAddress: null,
        Password: null,
        ConfirmPassword: null,
      }
    }
  },
  computed: {
    tenantTypes () {
      let tenantTypes = this.$store.state.app.params.tenantTypes
      let result = [
        { text: "Jenis", value: null }
      ]
      var lala = tenantTypes.map(element => {
        return { text: element.Name, value: element.Id }
      })

      return result.concat(lala)
    },
    error () {
      return this.$store.state.app.error
    },
    loading () {
      return this.$store.state.app.loading.status
    },
    progress () {
      return this.$store.state.app.loading.progress
    },
  },
  methods: {
    postRegister () {
      this.$store.dispatch('app/showLoading')

      var v = this
      this.$store.dispatch('auth/register', this.data)
        .then(result => {
          if (v.error.status) {
            v.$store.dispatch('app/setMessageSuccess', "Pendaftaran berhasil, silakan login menggunakan data Anda!")
            v.$store.dispatch('app/hideLoading')
            v.$router.push('login')
          }
        })
    },
  },
  created () {
    this.$store.dispatch('app/params/regisTenantTypes')
  }
}
</script>
