<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col lg="12">
        <inventory-form title="Ubah Barang" :data="data" @submit="postForm" />
      </b-col>
    </b-row>
  </div>

</template>

<script>
import oAxios from '@/connectors/APIConnector'
import InventoryForm from './Form'

export default {
  name: 'inventory-edit',
  components: {
    InventoryForm,
  },
  data () {
    return {
      data: {
        Id: 0,
        TenantId: 0,
        UserId: 0,
        Name: null,
      }
    }
  },
  methods: {
    postForm (data) {
      this.$store.dispatch('app/showLoading')

      var v = this
      oAxios.post('/Inventory/UpdateInventoryItem', data)
        .then(response => {
          if (response.data.success) {
            v.$store.dispatch('app/setMessageSuccess', response.data.message.success)
            v.$router.push('/inventory')
          } else {
            v.$store.dispatch('app/setMessageError', response.data.message.error)
          }

          v.$store.dispatch('app/hideLoading')
        })
        .catch(error => {
          v.dispatch('app/setMessageError', error.response.data.error_description)
        })
    }
  },
  created () {
    this.$store.dispatch('app/showLoading')
    let id = this.$route.params.id
    let idTenant = this.$store.state.auth.user.tenantId

    var v = this
    oAxios.get('/Inventory/GetInventoryItem', { params: { TenantId: idTenant, Id: id } })
      .then(response => {
        if (response.data.success) {
          v.data = response.data.data[0]
          v.data.TenantId = this.$store.state.auth.user.tenantId
          v.data.UserId = this.$store.state.auth.user.userId
        } else {
          v.$store.dispatch('app/setMessageError', response.data.message.error)
        }

        v.$store.dispatch('app/hideLoading')
      })
      .catch(error => {
        v.dispatch('app/setMessageError', error.response.data.error_description)
      })
  }
}
</script>
