<template>
  <b-form @submit.prevent="$emit('submit', data)">
    <b-card :header="title">
      <b-form-group
        label="Nama Barang"
        label-for="Name"
        :label-cols="3"
        :horizontal="true">
        <b-form-input v-model="data.Name" id="Name" type="text" :readonly="loading" required></b-form-input>
      </b-form-group>
      <div slot="footer">
        <b-button type="submit" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
        <b-button type="reset" variant="danger" class="ml-2"><i class="fa fa-ban"></i> Reset</b-button>
      </div>
    </b-card>
  </b-form>
</template>

<script>
export default {
  name: 'inventory-form',
  props: {
    title: {
      type: String,
      default: "Input Data"
    },
    data: {
      type: Object,
      default () {
        return {
          Id: 0,
          TenantId: 0,
          UserId: 0,
          Name: null,
        }
      }
    }
  },
  computed: {
    loading () {
      return this.$store.state.app.loading.status
    },
  },
  methods: {
    submit () {
      this.$emit('submit', this.data)
    }
  },
  created () {
    this.data.TenantId = this.$store.state.auth.user.tenantId
    this.data.UserId = this.$store.state.auth.user.userId
  }
}
</script>
